#header{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 5px 10px 0px 5px;
    width: 100%;
    background-color: white;
    display: flex;
    column-gap: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 100;
}

/* ---->>>> Logo Portion */
#logo{
    display: inline-block;
    width: 5%;
    min-width: 80px;
    min-height: 80px;
    padding: 5px 0px;
    /* background-color: red; */
}
#logo img{
    width: 100%;
    /* object-fit: fill;
    object-position: center; */
}

/* ---->>>> Title Portion */
#title{
    color: var(--blue);
    padding: 5px 0px;
}
#title h3{
    color: var(--black);
}

/* ---->>>> Account portion */
#account{
    display: flex;
    column-gap: 5px;
    padding: 10px 10px;
    margin-left: auto;
    align-items: flex-end;
}
#account a{
    padding: 8px;
    border-radius: 5px;
    border: solid 1px rgba(18, 52, 206,0.3);
    background-size: 100% 202%;
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-image: linear-gradient(to top ,var(--blue) 50%, transparent 50%);
    /* color: var(--blue); */
    font-weight: 600;
    transition: background-position 0.5s;
}
#account a:hover{
    background-position: 100% 100%;
    /* color: white; */
}
#account a span{
    background: linear-gradient(to top, white 50%, var(--blue) 50%);
    background-size: 100% 200%;
    background-repeat: no-repeat;
    background-position: 100% 0%;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    transition: background-position 0.5s;
}
#account a:hover span{
    background-position: 100% 100%;

}
