.analytics{
    display: flex;
    justify-content: space-between;  
    padding: 50px; 
    column-gap: 20px;
    row-gap: 20px;
    flex-wrap: wrap;
}
.box{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    row-gap: 30px;
    /* border: solid 1px black; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px 20px;
    border-radius: 10px;
    color: var(--black);
    width: 350px;
    text-align: center;
}
.box span:first-child{
    border: solid 1px var(--border_black);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 32px;
    font-weight: 600;
    color: var(--blue);
}
.box span:last-child{
    font-size: 22px;
}