.main{
    display: flex;
    padding: 20px 0px;
    position: relative;
}
#left{
    width: 20%;
    top: 115px;
    position: sticky;
    min-width: 270px;
    height: 100vh;
    display: inline-block;
    border-right: solid rgba(18, 52, 206,0.3) 2px;
    padding: 0px 5px;
    color: var(--grey_black);
    overflow: hidden;
}

/* Right Section Starts from here----->>>>>> */
#right{
    display: flex;
    height: 100%;
    flex-direction: column;
    row-gap: 20px;
    padding: 0px 10px;
    /* border: solid 1px red; */
}