.container{
    padding: 0px 5px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.head{
    color: var(--grey_black);
    margin-bottom: 10px;
    background-color: white;
}
.head h2{
    font-size: 20px;
}
.head::after{
    content: "";
    width: 38px;
    height: 3px;
    background-color: var(--grey_black);
    position: absolute;
    bottom: -2px;
    left: 1px;
}
.TBox{
    padding: 5px 2px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    max-height: 630px;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
/* .TBox::-webkit-scrollbar {
    width: 5px;
  }
   
  .TBox::-webkit-scrollbar-track {
    background: #ddd;
  }
   
  .TBox::-webkit-scrollbar-thumb {
    background: #666; 
  } */
  .TBox::-webkit-scrollbar {
    width: 5px;
  }
   
  .TBox::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 20px;
  }
  
  .TBox::-webkit-scrollbar-track {
    background: #ddd;
    border-radius: 20px;
  }

  .AnsBox, .input, .iconbox{
    display: flex;
  }
.AnsBox{
  column-gap: 10px;
}


.inputbox{
  width: 100%;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  display: flex;
  outline: solid 2px var(--blue);
  padding: 5px 8px;
  border-radius: 8px;

}
.inputbox .input, .inputbox .input input{
  width: 100%;
  border: none;
  outline: none;
}

.input{
  width: 100%;
  display: flex;
  word-wrap: break-word;
  flex-wrap: wrap;
  overflow-wrap: break-word;
}
.file{
  /* border: solid 1px black; */
  padding: 0px 5px;
  display: flex;
  align-items: center;
  column-gap: 5px;
}
.file div, .file label{
  display: flex;
  align-items: center;
  justify-content: center;
}
.file span{
  display: inline-block;
}
.file label{
  width: 25px;
  cursor: pointer;
}
.file svg, .file svg path{
  width: 100%;
  height: 100%;
  }
.file div:last-child{
  padding-right: 10px;
  padding-top: 5px;
}
.file div:last-child span:last-child{
  font-size: 14px;
  max-width: 150px;
  
user-select: none;
word-break: keep-all;
overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
color: var(--blue);
}
.file div:last-child span:first-child{
width: 15px;
display: flex;
position: absolute;
top: 0px;
right: 0px;
transform: translate(50%,-50%);
z-index: 1;
}
.file div:last-child span:first-child:hover{
  color: red;
  cursor: pointer;
}
#fileinput{
  display: none;
}
/* #fileinput+label svg{
color:var(--grey_black);
}
#fileinput:not([value=""])+label svg{
  color: var(--blue);
} */

.iconbox{
  width: 10%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  justify-content: space-evenly;
  outline: solid 2px var(--blue);
  padding: 10px 8px;
  border-radius: 8px;
}

.icon svg, .icon path{
    width: 100%;
    height: 100%;
}
.icon span:first-child{
    user-select: none;
    width: max-content;
    word-break: keep-all;
    position: absolute;
    font-family:sans-serif;
    font-size: 12px;
    letter-spacing: 0.8px;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    top: -2px;
    left: 50%;
    transform: translate(-50%,-100%);
    background-color: var(--blue);
    color: white;
    padding: 5px 8px;
    border-radius: 8px;
    cursor: default;
    visibility: hidden;
    opacity: 0;
    transition:visibility 0.2s linear,opacity 0.2s linear;
    transition-delay: 0s;
}
.icon span:last-child{
width: 20px;
}
.icon, .icon span{
cursor: pointer;
display: flex;
align-items: center;
justify-content: center;
}
.icon:hover span:first-child{
    transition-delay: 0.8s;
        visibility: visible;
        opacity: 1;
}
.icon:hover{
    color: var(--blue);
}
.icon:last-child svg{
  transform: rotateZ(45deg)
}